<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>AMLR Case Studies</title>
    <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/e0cc203f-7221-4daf-a2d5-815483dba107.css" media="screen" />
	<link rel="stylesheet" href="//www.naturalresources.sa.gov.au/files/templates/00000000-0000-0000-0000-000000000000/f399c717-3483-4ac4-ac72-f5b9f904f8c1/main-ffbe7f0cba.css">
	<link rel="stylesheet" href="css/main.css">
    <base href="/">
</head>
<body>
<!-- <form id="mainForm" method="post" action="#index.html">
    <input type="search" name="" value="" placeholder="">
</form> -->
<div id="content" class="studies-page-wrap">
<h1>Case studies</h1>

<!-- code to paste into template -->
<link rel="stylesheet" href="css/main.css">

<ItemData DataDefinition="DC_Title" Template="HTML" />
<div ng-app="caseStudies">

    <p class="intro-text">NRM Education works with many schools and early learning sites that are working towards sustainability. Below are written, audio and video case studies to inspire you. There are several choices to narrow down your search.</p>
	<div ng-controller="StudiesController" class="studieswrap">
		<div class="searchInputs">


            <fieldset class="searchset-control">
                <legend>Search </legend>

    			<div class="searchcontrol">
    				<label>Search </label><input ng-model="search.$" ng-change="change()" type="text" min="0" >
    			</div>

    			<div class="themescontrol">
    				<label>Themes </label>
    				<select ng-model="search.themes">
    					<option value=""> - </option>
    					<option value="biodiversity">Biodiversity</option>
                        <!-- <option value="energy">Energy</option> -->
    					<option value="food garden">Food garden</option>
                        <option value="general">General</option>
    					<!-- <option value="youth">Youth Voice</option> -->
    					<option value="outdoor play">Outdoor play/learning space</option>
                        <option value="waste">Waste</option>
                        <option value="water">Water</option>
    				</select>
    			</div>

                <div class="EfSPcontrol">
                    <label>Education for Sustainability aspects </label>
                    <select ng-model="search.EFSustainabilityA">
                        <option value=""> - </option>
                        <option value="community">Community</option>
                        <option value="curriculum">Curriculum and learning</option>
                        <option value="governance">Governance</option>
                        <option value="inquiry">Inquiry</option>
                        <option value="vision">Vision and values</option>
                        <option value="whole">Whole site approach</option>
                        <option value="youth">Youth voice</option>
                    </select>
                </div>

                <div class="clearbutton">
                    <button type="button" ng-click="clearFilter();">clear my choices</button>
                </div>

            </fieldset>


			<fieldset class="yrLevelset-control">
				<legend>Year level </legend>
				<label><input ng-model="search.yrLevel" ng-true-value="'Early'" ng-false-value="''" type="checkbox" name="yearlvl" value="Early"><em>Early years</em></label>
				<label><input ng-model="search.yrLevel" ng-true-value="'Primary'" ng-false-value="''" type="checkbox" name="yearlvl" value="Primary"><em>Primary school</em></label>
				<label><input ng-model="search.yrLevel" ng-true-value="'High'" ng-false-value="''" type="checkbox" name="yearlvl" value="High"><em>High school</em></label>
			</fieldset>

			<fieldset class="progressset-control">
				<legend>Progress </legend>
				<label><input ng-model="search.progress" ng-true-value="'Starting'" ng-false-value="''" type="checkbox" name="progress" value="Starting"><em>Starting</em></label>
                <label><input ng-model="search.progress" ng-true-value="'Challenging'" ng-false-value="''" type="checkbox" name="progress" value="Challenging"><em>Challenging</em></label>
				<label><input ng-model="search.progress" ng-true-value="'Committing'" ng-false-value="''" type="checkbox" name="progress" value="Committing"><em>Committing</em></label>
				<label><input ng-model="search.progress" ng-true-value="'Transforming'" ng-false-value="''" type="checkbox" name="progress" value="Transforming"><em>Transforming</em></label>
			</fieldset>



		</div>

		<div class="list" ng-cloak>
			<div ng-repeat="study in allData | filter:search | orderBy: 'title' as filtered_result " class="study ng-cloak" href="{{::study.studyURL}}">

				<div class="study__image">
					<span><img ng-src="//{{::study.imageURL}}" alt="thumbnail for {{::study.title}}"></span>
				</div>

				<div class="study__details">
					<h2 class="details__title">{{::study.title}}</h2>
					<p class="details__schools"><em>(pre)School/s:</em> {{::study.schools}}</p>
					<p class="details__yrLevel"><em>Year level:</em> {{::study.yrLevel}}</p>
					<p class="details__progress"><em>Progress:</em> {{::study.progress}}</p>
					<p class="details__efsp"><em>Education for Sustainability aspects:</em> {{::study.EFSustainabilityA}}</p>
					<p class="details__themes"><em>Themes:</em> {{::study.themes}}</p>

                    <ul class="details__links" ng-bind-html="study.studyURL"></ul>

                    <!-- <a class="details__icon" href="//" target="_blank">&nbsp;</a> -->
                    <!-- Only for back end display -->
					<!-- <p class="details__date"><em>date:</em> {{::study.date}}</p>
					<p class="details__author"><em>author:</em> {{::study.author}}</p> -->
				</div>

			</div>
		</div>
        <div ng-show="filtered_result.length == 0"><h2>No results found.</h2></div>

	</div>

</div>
<!-- AMLR DLV Case Studies JSON -->
<!--WebUserControl-->AMLR DLV Case Studies JSON<!--/WebUserControl-->
<!-- End AMLR DLV Case Studies JSON -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.11/angular-filter.min.js"></script>  <!-- from here - https://github.com/a8m/angular-filter#get-started -->
<script src="js/controller.js"></script>

<!-- End code to paste into template -->


</div>


<!-- <script src="js/main.js"></script> -->


</body>
</html>
