@import 'variables';

/* == Settings == */

.studies-page-wrap {
  background: $color-background-base;
  margin: 0 auto;
  max-width: 865px;
  padding: 20px;
}

.studieswrap {
    margin: 20px 0;
}

.intro-text {
    font-size: 1.2em;
    line-height: 1.3em;
}


.searchcontrol {
  // display: inline-block;
  margin: 10px 0;
  max-width: 320px;

  label {
    width: 100%;
    position: relative;
    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        line-height: 1.3em;

        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        /* Position tooltip bottom */
        top: 135%;
        left: 50%;
        margin-left: -60px;
        &::after {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent #555 transparent;
        }
    }
    &:hover .tooltiptext {
        visibility: visible;
    }
  }

  input {
    &[type='text'] {
      // line-height : 1.6em;
      height: 24px;
      min-width: 250px;
      padding: 0 4px 0 4px;
    }
  }
}

.themescontrol {
    display: inline-block;
    margin: 10px 0;

    select {
        min-width: 200px;
    }
}

.EfSPcontrol {
  display: block;
  margin: 10px 0;
}

.yrLevelcontrol {
    // display: inline-block;
    margin-left: 0;
    margin-right: 20px;
    width: 308px; //202px;
}

.progresscontrol {
  display: inline-block;
  // margin: 10px 0;
  margin-left: 0;
  margin-right: 20px;
  width: 394px;

  @media (max-width: 420px) {
    width: calc(100% - 40px);

    label {
      display: block;
    }
  }
}

.clearbutton {
  display: inline-block;
  margin-left: 0;
  margin-right: auto;
  width: 20%;
  min-width: 114px;

  button {
    // height: 30px;
    padding: 14px;
    border-radius: 7px;
    border: 2px solid #bf9fd6;
    background-color: #fff;

    // background-color: #59178a;
    // border: 0;
    // color: #fff;
    &:hover {
        background-color: #bf9fd6;
    }
  }
}

label {
    margin-right: 10px;
}

fieldset {
  border: 1px solid #efefef;
  display: inline-block;
  margin-bottom: 6px;
  margin-right: 10px;
  // max-width: 46%;
  label {
    margin-right: 0;
  }
  label:not(:last-of-type) {
    margin-right: 6px;
  }
}

legend {
  padding: 0.2em 0.5em;
}

select {
  height: 24px;
}

em {
    font-style: normal;
}

input {
  &[type='radio'] {
    // line-height : 1.6em;
    height: 20px;
    vertical-align: middle;
    width: 20px;
  }
}

input {
  &[type='checkbox'] {
    height: 20px;
    vertical-align: middle;
    width: 20px;
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak],
[x-ng-cloak], .ng-cloak, .x- ng-cloak {
  display: none !important;
}

.study {
  border-bottom: 1px solid #dfdfdf;
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  // &:hover {
  //   background-color: #EFEFEF;
  // }
}

.list {
  line-height: 1.4em;

  .study__image {
    display: inline-block;
    margin-top: 22px;
    // margin-right: 10px;
    vertical-align: top;
    width: 288px;
    a {
        display: block;
        padding-right: 20px;
    }
  }

  .study__details {
    display: inline-block;
    width: calc(100% - 291px);
    p {
        padding: 1px 0 1px 0;
    }
    em {
        display: inline-block;
        font-weight: 600;
        min-width: 60px;
        margin-right: 4px;
    }
  }

  a img {
    height: 150px;
    margin-bottom: 20px;
    width: 100%;
  }

  :hover {
    text-decoration: none;
  }

  p {
    line-height: 1.4em;
    margin-bottom: 0;
    margin-top: 0;
  }

}


.study__details>a:last-of-type {

    // PDF file
    &[href$='.pdf'] {
        background: url('../icons/file-pdf-o.svg');
        background-size: cover;
        display: block;
        height: 20px;
        width: 20px;
        vertical-align: top;
        margin: 4px 0 10px 0;
    }

    // YouTube link
    &[href*='.youtu.be'],
    &[href*='.youtube.com'] {
        background: url('../icons/youtube-play.svg');
        background-size: cover;
        display: block;
        height: 20px;
        width: 20px;
        vertical-align: top;
        margin: 4px 0 10px 0;
    }

    // HTML file/link
    &[href$='.htm'],
    &[href$='.html'],
    &[href*='/adelaidemtloftyranges/case-study/'] {
        background: url('../icons/file-o.svg');
        background-size: cover;
        display: block;
        height: 20px;
        width: 20px;
        vertical-align: top;
        margin: 4px 0 10px 0;
    }

    &[href$='.doc'],
    &[href$='.docx'],
    &[href$='.rtf'] {
        // DOC file
        background: url('../icons/file-word-o.svg');
        background-size: cover;
        display: block;
        height: 20px;
        width: 20px;
        vertical-align: top;
        margin: 4px 0 10px 0;
    }


}



@media (max-width: 768px) {

  .list .study__image {
    display: block;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .list .study__details {
    display: block;
    width: calc(100% - 10px);
  }

}
