@import 'variables';

/* == Settings == */

.temp-wrapper {
  background: $color-background-base;
  margin: 0 auto;
  max-width: 865px;
  padding: 20px;
}


.searchcontrol {
  // display: inline-block;
  margin: 10px;
  max-width: 320px;

  label {
    width: 100%;
  }

  input {
    &[type='text'] {
      // line-height : 1.6em;
      height: 24px;
      min-width: 250px;
      padding: 0 4px 0 4px;
    }
  }
}

.themescontrol {
    display: inline-block;
    margin: 10px;

    select {
        min-width: 200px;
    }
}

.yrLevelcontrol {
    // display: inline-block;
    margin: 10px;
    width: 202px;
}

.progresscontrol {
  display: inline-block;
  margin: 10px;
  width: 394px;

  @media (max-width: 420px) {
    width: calc(100% - 40px);

    label {
      display: block;
    }
  }
}

.EfSPcontrol {
  display: block;
  margin: 10px;
}

.clearbutton {
  display: inline-block;
  margin-left: 10px;
  margin-right: auto;
  width: 20%;
  min-width: 114px;

  button {
    // height: 30px;
    padding: 6px;
  }
}

label {
    margin-right: 10px;
}

fieldset {
  border: 1px solid #efefef;
  display: inline-block;
  margin-bottom: 6px;
  margin-right: 10px;
  // max-width: 46%;
  label {
    margin-right: 0;
  }
  label:not(:last-of-type) {
    margin-right: 6px;
  }
}

legend {
  padding: 0.2em 0.5em;
}

select {
  height: 24px;
}

em {
    font-style: normal;
}

input {
  &[type='radio'] {
    // line-height : 1.6em;
    height: 20px;
    vertical-align: middle;
    width: 20px;
  }
}

input {
  &[type='checkbox'] {
    height: 20px;
    vertical-align: middle;
    width: 20px;
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak],
[x-ng-cloak], .ng-cloak, .x- ng-cloak {
  display: none !important;
}

.study {
  border-bottom: 1px solid #dfdfdf;
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  // &:hover {
  //   background-color: #EFEFEF;
  // }
}

.list {
  line-height: 1.4em;

  .study__image {
    display: inline-block;
    margin-top: 22px;
    // margin-right: 10px;
    vertical-align: top;
    width: 288px;
    a {
        display: block;
        padding-right: 20px;
    }
  }

  .study__details {
    display: inline-block;
    width: calc(100% - 291px);
    p {
        padding: 1px 0 1px 0;
    }
    em {
        display: inline-block;
        font-weight: 600;
        min-width: 60px;
        margin-right: 4px;
    }
  }

  a img {
    height: 150px;
    margin-bottom: 20px;
    width: 100%;
  }

  :hover {
    text-decoration: none;
  }

  p {
    line-height: 1.4em;
    margin-bottom: 0;
    margin-top: 0;
  }

}


.study__details>a:last-of-type {
    // PDF file
    &[href$='.pdf'] {
        background: url('../icons/file-pdf-o.svg');
        background-size: cover;
        display: block;
        height: 20px;
        width: 20px;
        vertical-align: top;
        margin: 4px 0 10px 0;
    }
}




a[href$='.pdf'] .study__details>p:last-of-type:after {
  // PDF file
  background: url('../icons/file-pdf-o.svg');
  background-size: cover;
  content: ' ';
  display: block;
  height: 20px;
  width: 20px;
  vertical-align: top;
  margin: 4px 0 10px 0;
}


a[href*='.youtu.be'] .study__details>p:last-of-type:after,
a[href*='.youtube.com'] .study__details>p:last-of-type:after {
  // YouTube link
  background: url('../icons/youtube-play.svg');
  background-size: cover;
  content: ' ';
  display: block;
  height: 20px;
  width: 20px;
  vertical-align: top;
  margin: 4px 0 10px 0;
}

a[href$='.htm'] .study__details>p:last-of-type:after,
a[href$='.html'] .study__details>p:last-of-type:after,
a[href*='/adelaidemtloftyranges/case-study/'] .study__details>p:last-of-type:after {
  // HTML file/link
  background: url('../icons/file-o.svg');
  background-size: cover;
  content: ' ';
  display: block;
  height: 20px;
  width: 20px;
  vertical-align: top;
  margin: 4px 0 10px 0;
}

a[href$='.doc'] .study__details>p:last-of-type:after,
a[href$='.docx'] .study__details>p:last-of-type:after,
a[href$='.rtf'] .study__details>p:last-of-type:after {
  // DOC file
  background: url('../icons/file-word-o.svg');
  background-size: cover;
  content: ' ';
  display: block;
  height: 20px;
  width: 20px;
  vertical-align: top;
  margin: 4px 0 10px 0;
}


@media (max-width: 768px) {

  .list .study__image {
    display: block;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .list .study__details {
    display: block;
    width: calc(100% - 10px);
  }

}
